/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-10-28, 15:02:56
    Author     : Administrator
*/

.sitenav{
    background: #f7f7f7 none repeat scroll 0 0;
    height: 40px;
    position: relative;
    z-index: 7;
}
.mr10{margin:10px}
.message{display: none}
.myuser_name{padding: 10px}
.fr{float:right}
.fl{float: left}


.banner{
    border-width: 20px;
    padding-left: 35px;
    padding-top: 20px;}
.nav{
    float: left;
}
.nav ul{
    list-style-type: none;
}
.nav li{
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin:  0 10px;
    padding: 0 10px;
    background-color: #f7f7f7;
}
